.row-service{
    margin-top: 100px;
    height: 500px;
}
.col-left-service{
    padding-left: 50px;
}

.col-right-service p{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 50px;
}
.col-right-service li{
    line-height:35px;
}

@media screen and (max-device-width: 500px)
and (orientation: portrait) {
    .col-left-service img {
        margin-bottom: 20px;
        width: 100%;
    }
    .col-right-service{
        padding: 20px;
    }
    .col-left-service{
        padding: 0px;
        margin: 10px;
    }
    .col-right-service ul{
        padding: 0px;
    }
}