.container-list-mobil{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 10px;
}
.container-judul h3{
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 32px;
    overflow-y: hidden;
    justify-content: center;

}
.container-card{
    display: flex;
    gap: 32px;
    overflow-y: hidden;
    justify-content: center;
}
.card-list-mobil{
    border-radius: 8px;
    box-shadow: 1.0463px 6.27781px 12.3891px rgb(0 0 0 / 5%);
    border: 2px solid #f0f0f0;
    min-width: 252px;
    margin-top: 10px;
}
.img-card img{
    position: relative;   
    padding-left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    margin-bottom: 1px;
}
.img-card{
    text-align: center;
    padding-top: 30px;
}
.content-card{
    padding: 16px;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.container-list-mobil h1{
    font-size: 16px;
    padding-top: 8px;
    font-weight: 600;
    color: #032954;
    padding-bottom: 0rem;
}
.button{
    width: 100%;
    height: 36px;
    background: #5CB85F;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.container-card p{
    padding-top: 0rem;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 3px;
}
.goup-search{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1.0463px 6.27781px 12.3891px rgb(0 0 0 / 5%);
    border: 2px solid #f0f0f0;
    height: 100px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
    margin-top: 480px;
    margin-left: 60px;
}
.footer-cm{
    margin-top: 150px;
}
.searchInput{
    font-size: 12px;
}
.btnCari{
    width: 100px;
    height: 30px;
    margin-top: 32px;
    background: #5CB85F;
    border-radius: 5px;
    color: #F1F3FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.pencarian{
    background-color: #032954;
}

/* For Mobile View */
@media screen and (max-width: 600px)
{
    .container-pencarian{
       display: none; 
    }
}