.container.testimonials__container{
    width: 100%;
    padding-bottom: 4rem;
    align-items: center;
}
.header-testimonial{
    margin-top: 100px;
    text-align: center;
}
.client__review{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 30;
    display: block;
    width: 100%;
}
.client_avatar img{
    width: 60px;
}
.client__content{
    font-size: 14px;
    padding-left: 20px;
}
.testimonial{
    display: flex;
    align-items: center;
    background: #F1F3FF;
    padding: 2rem;
    border-radius: 1rem;
    user-select: none;
    margin-top: 20px;
    width: 100%;
    width: 350px !important;
    height: 200px !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    display: none;
}
.prev-next{
    display: flex;
    justify-content: center;
    color: #5CB85F;
}
.prev{
    margin-right: 10px;
}
.star{
    color: gold;
}

/* For Mobile View */
@media screen and (max-width: 600px) {
    .testimonial{
        width: 100% !important;
    }
    .client_review{
        width: 90%;
    }
    .client__content{
        padding-left: 20px;
    }
}