.container-whyuse{
    margin-top: 50px;
}
.row-whyuse{
    justify-content: center;
}
.card-icon{
    margin-bottom: 20px;
    color: rgb(48, 48, 209);
}
.card p{
    font-size: 13px;
}


/* For Mobile View */
@media screen and (max-width: 600px)
{
    .container-whyuse{
        margin-top: 450px;
    }
    .judul-whyus{
        text-align: center;
    }
    .col-md-3{
        margin-top: 10px;
    }
}