.container-faq{
    margin-top: 30px;
}
.content-faq{
    color: aliceblue;
    margin-top: 80px;
    text-align: center;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    background: #0D28A6;
    border-radius: 13px;
    height: 326px;
}
.content-faq p{
    margin-top: 20px;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
}
.content-faq button{
    width: 140px;
    height: 36px;
    margin-top: 10px;

    background: #5CB85F;
    border-radius: 5px;
    color: #F1F3FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.content-faq-left{
    margin-top: 50px;
    padding-right: 30px;
}
.content-faq-right{
    margin-top: 50px;
}


@media screen and (max-device-width: 600px)
 {
    .content-faq{
        color: aliceblue;
        margin-top: 50px;
        text-align: center;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        background: #0D28A6;
        border-radius: 13px;
        height: 326px;
    }
    .container-faq{
        text-align: center;
        margin-left: 5px;
    }
    .col-md-5{
        margin-top: 10px;
    }
 
}
   