.container-search{
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(216, 227, 231);
    height: 100px;
    padding-top: 10px;
    margin-top: 470px;
    margin-left: 6px;
    position: absolute;
    width: 100%;
    max-width: 1100px;
    padding-left: 70px;
}
.footer-cm{
    margin-top: 150px;
}
.searchInput{
    font-size: 12px;
}
.btnCari{
    width: 100px;
    height: 30px;
    margin-top: 32px;
    background: #5CB85F;
    border-radius: 5px;
    color: #F1F3FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 600px)
{
    .container-search{
        display: none;
    }
}